<!DOCTYPE html>
<html>
<head>
  <title>YeezyCodes</title>
  <%= stylesheet_link_tag    '/assets/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <%= javascript_include_tag '/assets/application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<p>
  <% if !mobile_device? %>
      <%= link_to "test mobile Site", :mobile => 1 %>
  <% end %>

</p>

<%= yield %>

</body>
</html>
